<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  
  <!-- Custom record sizes fore each file. -->
  <!-- If you put other values, please send me a notificaion to add at list -->
  <appSettings>
    <add key="fs_default" value="292,320"/>
    <add key="fs_mapAirA" value="40,64"/>
    <add key="fs_mapCableA" value="40,64"/>
    <add key="fs_mapSateD" value="168,172,194"/>
    <add key="fs_mapAstraHDPlusD" value="212"/>
  </appSettings>  
  
  <!-- logging parameters -->
  <log4net>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="SamsChannelEditor.log"/>
      <appendToFile value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%logger] [%-5level] [%thread] %message%newline"/>
      </layout>
    </appender>

    <root>
      <level value="ALL"/>
      <appender-ref ref="FileAppender"/>
    </root>

  </log4net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
